<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sparks</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.crop.guide/loader/l.js?c=123ABC"></script>
  <!-- font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  <!-- <script src="../scripts/index.js" defer></script> -->
  <link rel="stylesheet" type="text/css" href="/css/srch.css">
</head>

<body>

  <%- include("partials/navbar.ejs") %>


    <div class="container-fluid " style="padding-top: 69px;">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-fixed">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Menu</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="/profile/<%=user._id%>" class="nav-link align-middle px-0">
                  <span class="ms-1 d-none d-sm-inline">My profile</span>
                </a>
              </li>



              <li class="nav-item mt-4">
                <form action="/logout" method="post" class=" my-2">
                  <button class=" btn btn-danger" type="submit"></i>logout</button>
                </form>
              </li>

              <li class="nav-item">
                <form class="d-flex my-4" role="search" action="/newsfeed/search" method="POST">
                  <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success" type="submit">Search</button>
                </form>
              </li>



          </div>
        </div>
        <div class="col py-3">
          <div class="container w-75">
            <div class="container mx-auto">
              <div class="mx-auto">

                <% items2.map((item)=>{ %>

                  <div class="mt-4"></div>
                  <div class="mb-4 w-50 mx-auto border rounded border-white p-2">
                    <%if ( item.img.data.toString('base64')==='' ) { %>
                      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-inline">
                        <img src="/images/ANKiT.jpg" alt="" class="profile_pic">

                      </div>
                      <%} else { %>
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-inline">
                          <img src="data:image/<%=item.img.contentType%>;base64,<%=item.img.data.toString('base64')%>"
                            class="profile_pic">

                        </div>
                        <%}%>
                          <form action="/newsfeed/follow/<%=item._id %>" method="post" class="mb-2">
                            <h1>
                              <%=item.username%>
                            </h1>
                            <p class="text-muted">
                              <%=item.bio%>
                            </p>
                            <button type="submit" class="btn btn-dark">follow</button>


                          </form>

                          <form action="/profile/<%=item._id %>" method="get" class="mb-4">

                            <button type="submit" class="btn btn-dark">View profile</button>


                          </form>
                  </div>





                  <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- content -->








    <%- include("partials/footer.ejs") %>